.root {
  -fx-fill: transparent;
}

HBox,
VBox {
  -fx-spacing: 10;
}

TableColumn {
  -fx-max-width: Infinity;
}

#pieceBox {
  /* -fx-spacing: 5; */
  -fx-alignment: center-right;
  /* -fx-border-color: red;
  -fx-border-width: 5; */
}

#lightCoord,
#darkCoord {
  -fx-text-origin: center;
}

#infoPane {
  -fx-padding: 25 0 25 0;
  -fx-alignment: center-right;
}

#captureCircle {
  -fx-fill: transparent;
}

GameView {
  -fx-spacing: 10;
  -fx-padding: 10;
  -fx-alignment: center;
  -fx-font-family: "Verdana", "sans-serif";
}

#listAndChat {
  -fx-vgap: 5;
  -fx-alignment: center-left;
}

#scrollMoveList {
  -fx-hbar-policy: never;
  -fx-vbar-policy: never;
  -fx-fit-to-width: true;
  -fx-fit-to-height: true;
}

Board {
  -fx-alignment: center;
}

PauseView {
  -fx-background-radius: 10;
}

#squareBorder {
  -fx-background-color: transparent;
}

#guitimer, #guitimerhistory {
  -fx-border-radius: 5 5 5 5;
  -fx-background-radius: 5 5 5 5;
  -fx-alignment: center;
  -fx-font-size: 24;
}

#guitimeractive, #guitimerhistoryactive {
  -fx-border-radius: 5 5 5 5;
  -fx-background-radius: 5 5 5 5;
  -fx-alignment: center;
  -fx-font-size: 24;
}

#nameLabel {
  -fx-font-size: 14;
  -fx-alignment: center;
  -fx-min-width: 100;
}

#infoBox {
  -fx-padding: 7.5 10 7.5 25;
  -fx-alignment: center-right;
}

.scroll-pane > .viewport {
  -fx-background-color: transparent;
  -fx-alignment: center-left;
    -fx-border-radius: 5;
  -fx-background-radius: 5;
}

.scroll-pane {
  -fx-background-color: transparent;
  /* -fx-padding: 25 0 25 0; */
  -fx-border-radius: 5;
  -fx-background-radius: 5;
  -fx-alignment: center-left;
}

#movePane {
  -fx-border-width: 0 0 0 0;
  -fx-alignment: top-center;
  -fx-border-radius: 5 5 5 5;
  -fx-background-radius: 5 5 5 5;
  -fx-padding: 10 10 10 10;
  -fx-hgap: 5;
  -fx-vgap: 5;
}
