.root {
  -background: #fff;
  -accent: #698269;
  -accent-active: #547767;
  -lightsquare: #f0ebce;
  -darksquare: #698269;
  -movebutton: #f0ebce;
  -movebuttonactive: #547767;
  -highlighta: rgba(238, 187, 77, 0.65);
  -highlightb: rgba(238, 187, 85, 0.75);
  -highlightc: rgba(226, 141, 244, 0.75);
  -highlightd: rgba(231, 89, 89, 0.75);
  -highlighte: rgba(146, 253, 119, 0.75);
  -highlightf: rgba(167, 227, 255, 0.75);
  -moveindicator: rgba(100, 100, 100, 0.5);
  -squareborder: rgba(200, 200, 200, 0.5);
  -timerhistory: #bbbbbb;
  -timerhistoryactive: #dddddd;
}

OpeningLabel, #chatScroller {
  -fx-background-color: -accent;
}

#openingText, #chatName, #chatMessage {
  -fx-fill: ladder(-accent, white 60%, black 40%);
}

#chatTimestamp {
  -fx-fill: ladder(-accent, lightgray 60%, darkgray 40%);
}

#highlightedA {
  -fx-background-color: -highlighta;
  -fx-stroke: -highlighta;
  -fx-fill: -highlighta;
}

#highlightedB {
  -fx-background-color: -highlightb;
  -fx-stroke: -highlightb;
  -fx-fill: -highlightb;
}

#highlightedC {
  -fx-background-color: -highlightc;
  -fx-stroke: -highlightc;
  -fx-fill: -highlightc;
}

#highlightedD {
  -fx-background-color: -highlightd;
  -fx-stroke: -highlightd;
  -fx-fill: -highlightd;
}

#highlightedE {
  -fx-background-color: -highlighte;
  -fx-stroke: -highlighte;
  -fx-fill: -highlighte;
}

#highlightedF {
  -fx-background-color: -highlightf;
  -fx-stroke: -highlightf;
  -fx-fill: -highlightf;
}

GameView,
BarMenu {
  -fx-background-color: -background;
}

PauseView {
  -fx-background-color: rgba(50, 50, 50, 0.6);
}

#lightCoord {
  -fx-fill: -darkSquare;
}

#darkCoord {
  -fx-fill: -lightSquare;
}

#captureCircle {
  -fx-stroke: -moveIndicator;
}

#nonCaptureCircle {
  -fx-fill: -moveIndicator;
}

#squareBorder {
  -fx-border-color: -squareBorder;
}

#moveSquare {
  -fx-background-color: -moveSquare;
}

#activeSquare {
  -fx-background-color: -activeSquare;
}

#lightSquare {
  -fx-background-color: -lightSquare;
}

#darkSquare {
  -fx-background-color: -darkSquare;
}

#guitimer {
  -fx-background-color: -accent;
  -fx-text-fill: ladder(-accent, white 60%, black 40%);
}

#guitimeractive {
  -fx-background-color: -accent-active;
  -fx-text-fill: ladder(-accent-active, white 60%, black 40%);
}

#guitimerhistory {
  -fx-background-color: -timerhistory;
  -fx-text-fill: ladder(-timerhistory, white 60%, black 40%);
}

#guitimerhistoryactive {
  -fx-background-color: -timerhistoryactive;
  -fx-text-fill: ladder(-timerhistoryactive, white 60%, black 40%);
}

#nameLabel {
  -fx-text-fill: ladder(-background, white 60%, black 40%);
}

#scrollMoveList {
  -fx-background-color: -accent;
}

#movePaneLabel {
  -fx-text-fill: ladder(-accent, white 60%, black 40%);
}

#movePaneButton {
  -fx-text-fill: ladder(-moveButton, white 60%, black 40%);
  -fx-background-color: -moveButton;
}

#movePaneButton:hover {
  -fx-text-fill: ladder(-moveButton, white 60%, black 40%);
  -fx-background-color: derive(-moveButton, -0.1);
}

#movePaneButton:armed {
  -fx-text-fill: ladder(-moveButton, white 60%, black 40%);
  -fx-background-color: derive(-moveButton, -0.2);
}

#movePaneButtonActive {
  -fx-text-fill: ladder(-moveButtonActive, white 60%, black 40%);
  -fx-background-color: -moveButtonActive;
}

#movePaneButtonActive:hover {
  -fx-text-fill: ladder(-moveButtonActive, white 60%, black 40%);
  -fx-background-color: derive(-moveButtonActive, -0.1);
}

#movePaneButtonActive:armed {
  -fx-text-fill: ladder(-moveButtonActive, white 60%, black 40%);
  -fx-background-color: derive(-moveButtonActive, -0.2);
}
